<div class="container">	

	<navbar></navbar>
	<!-- todo form -->
	<todo-form></todo-form>
	<!-- todo table -->
	<table class="table table-striped">
		<tr>
			<th>Completed?</th>
			<th>Task</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="todo in todos | orderBy: 'isCompleted'">
			<td>
				<input 
					ng-checked="todo.isCompleted"
					type="checkbox" 
					class="todos__checkbox" 
					ng-click="onCompletedClick(todo)" 
				/>
			</td>
			<td>
				<span 	ng-if="!todo.isEditing" 
						ng-class="{'todos__task-complete' : todo.isCompleted}" 
						class="todos_task">
						{{todo.task}}
				</span>
				<form ng-submit="updateTask(todo)">
					<input 	ng-if="todo.isEditing"  
							class="form-control todos__update-input" 
							ng-value="todo.task" 
							ng-model="todo.updatedTask" 
					/>
				</form>
			</td>
			<td>
				<button class="btn btn-info" 
						ng-click="onEditClick(todo)"
						ng-if="!todo.isEditing">
							Edit
				</button>
				<button class="btn btn-danger" 
						ng-if="!todo.isEditing"
						ng-click="deleteTask(todo)">
							Delete
				</button>
				<button class="btn btn-primary"
						ng-click="updateTask(todo)" 
						ng-if="todo.isEditing">
							Save
				</button>
				<button class="btn btn-default"
						ng-click="onCancelClick(todo)" 
						ng-if="todo.isEditing">
							Cancel
				</button>
			</td>
		</tr>
	</table>
</div>